{% extends "base.html" %}

{% block title %} &bull; About{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <p>
        Many hackers around the world are (re-)decentralizing the net. This is our part, offering distributed,
        free (as in freedom) services to the world. Always based on <strong>Free Open Source Software</strong>.
      </p>
      <p>
        We believe that building, owning and controlling technology is important. Hackers and Open Source communities
        have an opportunity and a responsibility to offer an alternative, to offer services and tools that people can trust.
        Beyond corporate control, that comes with tracking and data farming. <strong>Decentralized</strong> services and tools that respect users <strong>privacy by default</strong>.
      </p>
      <p>
        We are part of the <a href="https://libreho.st/" target="_blank">Librehosters</a> network.
      </p>
      <hr>
      <p>
        Public services that require registration, may come with their own terms and privacy policy.
        But here are our overall <a href="/terms.html">terms of use</a>.
      </p>
      <hr>
      <p>
        You can support us on <a href="https://opencollective.com/libreops/" target="_blank">OpenCollective</a>.
      </p>
      <p>
        Our current expenses:<br>
        <ul>
          <li>Domains: 70€/year</li>
          <li>Infrastructure: 150€/year</li>
        </ul>
      </p>
      <p>
        <a href="https://opencollective.com/libreops" target="_blank">
          <img alt="LibreOps @ Open Collective" src="https://img.shields.io/opencollective/all/libreops?color=%23800&label=opencollective&style=flat-square">
        </a>
      </p>
    </div>
  </div>
{% endblock %}
