{% extends "base.html" %}

{% block title %} &bull; About{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h5 class="section">mission</h5>

      <p>
        Many hackers around the world are (re-)decentralizing the net. This is our part, offering distributed,
        free (as in freedom) services to the world. Always based on <strong>Free Open Source Software</strong>.
      </p>
      <p>
        We believe that building, owning and controlling technology is important. Hackers and Open Source communities
        have an opportunity and a responsibility to offer an alternative, to offer services and tools that people can trust.
        Beyond corporate control, that comes with tracking and data farming. <strong>Decentralized</strong> services and tools that respect users <strong>privacy by default</strong>.
      </p>
      <p>
        We are part of the <a href="https://libreho.st/" target="_blank">Librehosters</a> network.
      </p>

      <hr>

      <h5 class="section">terms</h5 class="section">

      <p>
        Public services that require registration, may come with their own terms and privacy policy.
        But here are our overall <a href="/terms.html">terms of use</a>.
      </p>

      <hr>

      <h5 class="section">support</h5 class="section">

      <p>
        You can support us on <a href="https://opencollective.com/libreops/" target="_blank">OpenCollective</a>.
      </p>
      <p>
        Our current expenses:<br>
        <ul>
          <li>Domains: 70€/year</li>
          <li>Infrastructure: 150€/year</li>
        </ul>
      </p>
      <p>
        <a href="https://opencollective.com/libreops" target="_blank">
          <img alt="LibreOps @ Open Collective" src="https://img.shields.io/opencollective/all/libreops?color=%23800&label=opencollective&style=flat-square">
        </a>
      </p>

      <hr>

      <h5 class="section">team</h5 class="section">

      <div class="team">
        <div class="person">
          <img src="/static/img/avatars/axil.png" alt="comzeradd" class="person-avatar">
          <div class="person-details">
            <span class="person-name">Achilleas Pipinellis</span>
            <span class="person-links">
              <a href="https://axilleas.me" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <a href="https://gitlab.com/thedudeabides" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
              <a href="https://linuxrocks.online/@axil" target="_blank"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
            </span>
          </div>
        </div>

        <div class="person">
          <img src="/static/img/avatars/dgrig.png" alt="comzeradd" class="person-avatar">
          <div class="person-details">
            <span class="person-name">Dionysis Grigoropoulos</span>
            <span class="person-links">
              <a href="https://erethon.com/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <a href="https://github.com/erethon" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </span>
          </div>
        </div>

        <div class="person">
          <img src="/static/img/avatars/dinos.png" alt="comzeradd" class="person-avatar">
          <div class="person-details">
            <span class="person-name">Dinos Stamou</span>
            <span class="person-links">
              <a href="https://twitter.com/DinosRc" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://gitlab.com/kstamou" target="_blank"><i class="fa fa-gitlab" aria-hidden="true"></i></a>
            </span>
          </div>
        </div>

        <div class="person">
          <img src="/static/img/avatars/ebal.png" alt="comzeradd" class="person-avatar">
          <div class="person-details">
            <span class="person-name">Evaggelos Balaskas</span>
            <span class="person-links">
              <a href="https://balaskas.gr/blog/" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <a href="https://github.com/ebal" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
              <a href="https://twitter.com/ebalaskas" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </span>
          </div>
        </div>

        <div class="person">
          <img src="/static/img/avatars/comzeradd.png" alt="comzeradd" class="person-avatar">
          <div class="person-details">
            <span class="person-name">Nikos Roussos</span>
            <span class="person-links">
              <a href="https://www.roussos.cc" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a>
              <a href="https://libretooth.gr/@comzeradd" target="_blank"><i class="fa fa-mastodon" aria-hidden="true"></i></a>
              <a href="https://github.com/comzeradd" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
            </span>
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}
