{% extends "base.html" %}

{% block title %} &bull; Contact{% endblock title %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <p>
        Most of us are always online at our Matrix channel. Feel free to reach out.
      </p>
      <p>
        <i class="fa fa-matrix-org mr-1" aria-hidden="true"></i>
        <a href="https://riot.im/app/#/room/#libreops:matrix.org" target="_blank">#libreops:matrix.org</a>
      </p>
      <hr>
      <p>
        If you want to open a <strong>support ticket</strong>, or request access to a invite-only service,
        send us an email.
      </p>
      <p>
        <i class="fa fa-envelope-o mr-1" aria-hidden="true"></i>
        <img src="/static/img/email.svg">
      </p>
    </div>
  </div>
{% endblock %}
