{% extends "base.html" %}

{% block body_class %}wide{% endblock %}

{% block content %}

  <div class="services">

    <!-- LibreDNS -->
    <div class="card">
      <div class="card-header">
        <h5>
          DNS - encrypted
          <img class="service-img" src="/static/img/libredns.png" alt="LibreDNS">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          A public encrypted DNS service, that people can use to maintain secrecy of
          their DNS traffic, but also circumvent censorship. It already support
          DNS over HTTPS and DNS over TLS.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libredns.gr/" target="_blank" class="btn btn-outline-dark card-link">libredns.gr</a>
      </div>
    </div>

    <!-- RadicalDNS -->
    <div class="card">
      <div class="card-header">
        <h5>
          DNS - classic
          <img class="service-img" src="/static/img/radicaldns.svg" alt="radicalDNS">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          A public DNS service, that people can use to maintain secrecy of
          their DNS traffic, but also circumvent censorship. Based on the regular DNS
          protocol and filtering ads and trackers, ideal for legacy devices.
        </p>
      </div>
      <div class="card-footer">
        <a href="/radicaldns.html" target="_blank" class="btn btn-outline-dark card-link">radicalDNS</a>
      </div>
    </div>

    <!-- Etherpad -->
    <div class="card">
      <div class="card-header">
        <h5>
          Etherpad
          <img class="service-img" src="/static/img/etherpad.png" alt="Etherpad">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Etherpad is a highly customizable Open Source online editor providing collaborative editing
          in really real-time. We host our own etherpad instance to be used by teams and projects that
          live in our space.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://pad.libreops.cc" target="_blank" class="btn btn-outline-dark card-link">pad.libreops.cc</a>
      </div>
    </div>

    <!-- Jabber -->
    <div class="card">
      <div class="card-header">
        <h5>
          Jabber
          <img class="service-img" src="/static/img/jabber.png" alt="Jabber">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Jabber (or xmpp) is an open realtime communication protocol, that many people use to chat.
          Our instance, gnu.gr, was created with users privacy in mind and it's open for everyone to use.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://gnu.gr/" target="_blank" class="btn btn-outline-dark card-link">gnu.gr</a>
      </div>
    </div>

    <!-- Lists -->
    <div class="card">
      <div class="card-header">
        <h5>
          Mailing Lists
          <img class="service-img" src="/static/img/mailman.jpg" alt="Mailing Lists">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          The purpose of this service is to offer mailing list service to communities
          (projects, collectives, etc) that don't have the resources or the expertise
          to setup their own.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://diskuti.gr/" target="_blank" class="btn btn-outline-dark card-link">diskuti.gr</a>
      </div>
    </div>

    <!-- Mastodon -->
    <div class="card">
      <div class="card-header">
        <h5>
          Mastodon
          <img class="service-img" src="/static/img/mastodon.svg" alt="Mastodon">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Mastodon is a distributed, federated social network that forms part of the
          Fediverse, an interconnected and decentralized network of independently
          operated servers. Our instance, libretooth.gr, is just a part of this fediverse.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libretooth.gr/" target="_blank" class="btn btn-outline-dark card-link">libretooth.gr</a>
      </div>
    </div>

    <!-- Meet -->
    <div class="card">
      <div class="card-header">
        <h5>
          Meet
          <img class="service-img" src="/static/img/meet.svg" alt="Meet">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          (Jitsi) Meet is an open source application that provides high quality, scalable video conferences.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://meet.libreops.cc/" target="_blank" class="btn btn-outline-dark card-link">meet.libreops.cc</a>
      </div>
    </div>

    <!-- Signal Proxy -->
    <div class="card">
      <div class="card-header">
        <h5>
          Signal Proxy
          <img class="service-img" src="/static/img/signal.png" alt="signal">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          A simple proxy that can be used to access Singal instance messaging network
          in places where it's being actively censored.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libreops.cc/signalproxy.html" target="_blank" class="btn btn-outline-dark card-link">signal.tube</a>
      </div>
    </div>

    <!-- Syncthing -->
    <div class="card">
      <div class="card-header">
        <h5>
          Syncthing Relay
          <img class="service-img" src="/static/img/syncthing.png" alt="syncthing">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Syncthing is a free, open-source, peer-to-peer, continuous file synchronization
          program that works across multiple devices.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libreops.cc/syncthingrelay.html" target="_blank" class="btn btn-outline-dark card-link">libresync</a>
      </div>
    </div>

    <!-- Tor -->
    <div class="card">
      <div class="card-header">
        <h5>
          Tor Relays
          <img class="service-img" src="/static/img/tor.png" alt="Tor">
        </h5>
      </div>
      <div class="card-body">
        <p class="my-2">
          Tor is an open network that helps you defend against traffic analysis,
          a form of network surveillance that threatens personal freedom and privacy.
        </p>
      </div>
      <div class="card-footer">
        <a href="https://libreops.cc/tor.html" target="_blank" class="btn btn-outline-dark card-link">libreonion</a>
      </div>
    </div>

  </div>
{% endblock %}
