{% extends "base.html" %}

{% block title %} &bull; radicalDNS{% endblock title %}

{% block logo %}<img src="/static/img/radicaldns.png" alt="radicalDNS" class="avatar">{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <div class="card w-75 mx-auto">
    <div class="card-header">
      <span>about</span>
    </div>
    <div class="card-body">
      <p>
        This is a DNS service run by <a href="https://libreops.cc" target="_blank">LibreOps</a>.
      </p>
      <p>
        The goal is to offer a public DNS service that people can use to maintain the secrecy of their DNS traffic, but also circumvent censorship.
        We don't keep logs, but we also filter ads and trackers.
      </p>
      <p>
        If you want to support us, you can <a href="https://opencollective.com/libreops/" target="_blank">donate</a>.
      </p>
      <p>
        <small>
          If you are looking for encrypted DNS (eg. DoH, DoT), check out our other service: <a href="https://libredns.gr/" target="_blank">LibreDNS</a>.
        </small>
      </p>
    </div>
  </div>

  <div class="card mt-4 w-75 mx-auto">
    <div class="card-header">
      documentation
    </div>
    <div class="card-body">
      <div>Using the IPs of our two servers should be enough in most cases.</div>
      <hr>
      <div>
        <h4 class="badge badge-dark">server 01</h4>
        <p>
          <span class="badge badge-dark">IP</span> <code>88.198.92.222</code><br>
          <span class="badge badge-dark">IPv6</span> <code>2a01:4f8:1c0c:82c0::1</code><br>
          <span class="badge badge-dark">Port</span> <code>53</code>
        </p>
      </div>
      <hr>
      <div>
        <h4 class="badge badge-dark">server 02</h4>
        <p>
          <span class="badge badge-dark">IP</span> <code>192.71.166.92</code><br>
          <span class="badge badge-dark">IPv6</span> <code>2a03:f80:30:192:71:166:92:1</code><br>
          <span class="badge badge-dark">Port</span> <code>53</code>
        </p>
      </div>
    </div>
  </div>

  <div class="card mt-4 w-75 mx-auto">
    <div class="card-header">
      privacy
    </div>
    <div class="card-body">
      <p>
        One of the motives for creating this service was to build a DNS server that will keep a minimum amount of (meta)data and only the bare minimum that is required for its core functionality, in respect to users privacy.
      </p>

      <p>
        In detail:
        <ul>
          <li>We keep no logs. Logs are disabled for our DNS daemon.</li>
          <li>Our servers are also part of the <a href="https://www.opennic.org/" target="_blank">OpenNIC project</a> as Tier 2 DNS servers.</li>
          <li>We use a local resolver for the DNS requests. We use OpenNIC as our Tier 1.</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="card my-4 w-75 mx-auto">
    <div class="card-header">
      resources
    </div>
    <div class="card-body">
      <ul>
        <li><a href="https://gitlab.com/libreops/radicaldns" target="_blank">Ansible scripts</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer_class %}w-75 mx-auto{% endblock %}

{% block footer_logo %}
  <a href="https://libreops.cc"><img src="/static/img/{{ logo }}" alt="{{ sitename }}" class="footer-avatar"></a>
{% endblock footer_logo %}
