{% extends "base.html" %}

{% block content %}
  <div class="tools">
    <!-- doh-cli -->
    <h4>
      <img class="tool-img" src="/static/img/dohcli.png" alt="doh-cli">
      doh-cli
    </h4>

    <div class="tool-desc my-2 ml-3">
      <p>
        A simple DNS over HTTPS client for the command line.
      </p>

      <p>
        It's written in Python and implements RFC 8484,
        supporting plain (default) and json output.
      </p>

      <a href="https://pypi.org/project/doh-cli/" target="_blank" class="btn btn-outline-dark mt-3">download</a>
    </div>

  </div>
{% endblock %}
