{% extends "base.html" %}

{% block title %} &bull; Tor Relays{% endblock title %}

{% block logo %}<img src="/static/img/libreonion.png" alt="libreonion" class="avatar">{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
  <div class="card w-75 mx-auto">
    <div class="card-header">
      <span data-l10n-id="tor-about-title">about</span>
      <div class="pull-right">
        <span id="lang-selection"><span class="fa fa-language pr-2"></span>
        <select onchange="currentLang=this.value;document.webL10n.setLanguage(this.value || this.options[this.selectedIndex].text);" autocomplete="off">
          <option id="lang-en" selected value="en">en</option>
          <option id="lang-el" value="el">el</option>
        </select>
      </div>
    </div>
    <div class="card-body" data-l10n-id="tor-about-text">
      <p>
        <a href="https://www.torproject.org/" target="_blank">Tor</a> is an open network
        that helps you defend against traffic analysis, a form of network surveillance that threatens personal freedom and privacy.
      </p>
      <p>
        Tor protects you by bouncing your communications around a distributed network of
        relays run by volunteers all around the world: it prevents somebody watching your
        Internet connection from learning what sites you visit, and it prevents the sites
        you visit from learning your physical location.
      </p>
      <p>
        Our goal is to run Tor Relays, in order to contribute to the network and try to increase its diversity.
        If you want to help us run more relays, you can <a href="https://opencollective.com/libreops/" target="_blank">donate</a>.
      </p>
    </div>
  </div>

  <div class="card my-4 w-75 mx-auto">
    <div class="card-header">
      resources
    </div>
    <div class="card-body">
      <ul>
        <li><a href="https://gitlab.com/libreops/libreonion" target="_blank">Ansible scripts</a></li>
        <li><a href="https://metrics.torproject.org/rs.html#details/E8D114B3C78D8E6E7FEB1004650DD632C2143C9E" target="_blank">Relay metrics</a></li>
      </ul>
    </div>
  </div>
{% endblock %}

{% block footer_class %}w-75{% endblock %}

{% block footer %}
  <i class="fa fa-power-off" aria-hidden="true"></i> powered by <a href="https://libreops.cc" target="_blank">LibreOps</a>
{% endblock %}
