<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ sitename }}{% block title %}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/feed.xml" rel="alternate" type="application/rss+xml" title="{{ sitename }}">
    <meta property="og:site_name" content="{{ sitename }}">
    {% block meta %}
      <meta property="og:title" content="{{ sitename }}">
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ rooturl }}{{ link }}">
    {% endblock %}
    <meta property="og:image" content="{{ rooturl }}static/img/{{ logo }}">
    <link rel="stylesheet" href="/static/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/lib/fork-awesome/css/fork-awesome.min.css">
    <link rel="stylesheet" href="/static/css/app.css">
    <link rel="prefetch" type="application/l10n" href="static/locales.ini">
    {% block css %}{% endblock %}
    <link rel="shortcut icon" href="/favicon.ico">
  </head>

  <body class="{% block body_class %}{% endblock %}">
    <div class="page">

      <div class="container">
        <header class="py-3 text-center">
          {% block logo %}
            <a href="/"><img src="/static/img/{{ logo }}" alt="{{ sitename }}" class="avatar"></a>
          {% endblock %}
        </header>

        {% block nav %}
          <div class="d-flex flex-column flex-md-row align-items-center justify-content-center p-1 px-sm-4 mb-3 bg-white border-bottom shadow-sm">
            <nav class="my-2 my-md-0">
              <a class="p-2 text-dark" href="/about/">About</a>
              <a class="p-2 text-dark" href="/">Services</a>
              <a class="p-2 text-dark" href="/projects/">Projects</a>
              <a class="p-2 text-dark" href="/blog/">Updates</a>
              <a class="p-2 text-dark" href="/contact/">Contact</a>
            </nav>
          </div>
        {% endblock %}
      </div>

      <div class="container mt-4">
        {% block content %}{% endblock content %}
      </div>

    </div>

    <div class="container">
      <footer class="p-3 px-md-4 my-3 border shadow {% block footer_class %}{% endblock %}">
        {% block footer %}
          <div class="row justify-content-sm-between">
            <div class="col-sm">
              <a href="https://riot.im/app/#/room/#libreops:matrix.org" class="mx-1 footer-link" target="_blank">
                <i class="fa fa-comments" aria-hidden="true"></i> Matrix
              </a>
              <a href="https://status.libreops.cc/" class="mx-1 footer-link" target="_blank">
                <i class="fa fa-area-chart" aria-hidden="true"></i> Uptime
              </a>
              <a href="https://libreops.cc/terms/" class="mx-1 footer-link" target="_blank">
                <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Terms of Service
              </a>
            </div>
            <div class="col-sm">
              <a href="/feed.xml" class="mx-2 footer-link">
                <i class="fa fa-rss" aria-hidden="true"></i> Feed
              </a>
              <a rel="me" href="https://libretooth.gr/@libreops" class="mx-2 footer-link">
                <i class="fa fa-mastodon" aria-hidden="true"></i> Mastodon
              </a>
              <a href="https://gitlab.com/libreops/" class="mx-2 footer-link" target="_blank">
                <i class="fa fa-git" aria-hidden="true"></i> Code
              </a>
            </div>
            <div class="col-sm footer-col">
              <a class="btn btn-danger mb-2" href="https://opencollective.com/libreops/" target="_blank">Donate</a>
              {% block footer_logo %}{% endblock footer_logo %}
            </div>
          </div>

        {% endblock %}
      </footer>
    </div>

    <script src="/static/lib/jquery/dist/jquery.min.js"></script>
    <script src="/static/lib/popper.js/dist/umd/popper.min.js"></script>
    <script src="/static/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/static/lib/webl10n/l10n.js"></script>
    <script src="/static/js/app.js"></script>
    {% block javascript %}
    {% endblock javascript %}
  </body>
</html>
